<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <p>{{content}}</p>
        <p id="comment-subtitle">
            created by {{user.username}} on {{formatDate created_at}}
        </p>
    </div>
</article>