<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <p>{{content}}</p>
        <p id="comment-subtitle">
            created by <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b>
        </p>
    </div>
</article>